{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block payum_body %}
    {{ parent() }}

    <form action="{{ actionUrl|default('') }}" method="POST" id="confirm-form">
        <button type="submit">Confirm Payment</button>
    </form>
{% endblock %}

{% block payum_vendor_javascripts %}
    {{ parent() }}

    <!-- The required Stripe lib -->
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>

    <!-- jQuery is used only for this example; it isn't required to use Stripe -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block payum_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function($) {
            $(document).ready(function () {
                $('#confirm-form').submit();
            });

            $('#confirm-form').submit(function(e) {
                e.preventDefault();
                // This identifies your website in the call below
                var stripe = Stripe('{{ publishable_key|raw }}');
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                stripe.handleCardAction('{{ payment_intent_client_secret }}').then(stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });

            var stripeResponseHandler = function(response) {
                var $form = $('#confirm-form');

                if (response.error) {
                    // Insert errors into the form
                    $form.append($('<input type="hidden" name="error" />').val(response.error));
                } else {
                    // Insert the confirmed payment intent's id into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(response.paymentIntent.id));
                }
                // and re-submit
                $form.get(0).submit();
            };
        });
    </script>

{% endblock %}
